[alias]
  s = status
  b = branch
  ba = branch -a
  d = difftool
  co = checkout
  lg = log -p
  l = log --graph --pretty=oneline --abbrev-commit --decorate
  ll = log --stat --graph --pretty=oneline --abbrev-commit --decorate
  sls = stash list

[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[user]
  email = vvenchuan@gmail.com
  name = Wenchuan Weng

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[credential]
  helper = cache --timeout=3600

[merge]
  conflictstyle = diff3
